asgiref
certifi
cffi
chardet
coreapi
coreschema
cryptography
defusedxml
Deprecated
Django
django-admin-honeypot
django-braces
django-cors-headers
django-filter
django-log-viewer
django-oauth-toolkit
django-oauth2-provider
django-oidc-provider
django-rest-framework-social-oauth2
djangorestframework
djangorestframework-oauth
drf-yasg
future
idna
inflection
itypes
Jinja2
jwcrypto
MarkupSafe
oauthlib
packaging
Pillow

psycopg2
pycparser
pycryptodomex
pyjwkest
PyJWT
pyparsing
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
shortuuid
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
wrapt
