 
Django==3.0.7
django-braces==1.14.0
django-filter==2.4.0
django-oauth-toolkit==1.5.0
django-oauth2-provider==0.2.6.1
django-oidc-provider==0.7.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.12.4
djangorestframework-oauth==1.1.0

httplib2==0.14.0
oauthlib==3.1.0
openapi-codec==1.3.2
Pillow==7.0.0
pyOpenSSL==19.0.0

python-dateutil==2.7.3
python-decouple==3.4
python3-openid==3.2.0
razorpay==1.2.0
requests==2.22.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0

