        body{
            font-family:Poppins;
        }
        .back{
            margin-top:13px;
            font-weight:600;
            color: #8692A6;
            display: flex;
            align-items: baseline ;
            top:0;
            position: absolute;
            z-index: 2;
        }
        .back-icon{
            display: none;
        }
        .already-container{
            text-align: center;
            margin-top: 20px;
        }

        .new-to{
            margin-top: 40px;
        }
        .from-container {
            height: 100%;
            color:#696F79;
            padding-top: 10px
        }
        .text-input{
            max-width: 347px;
        }
        .text-input:focus{
            outline: none !important;
            border-color: #DD2C00 ;
            box-shadow: 0 0 10px #719ECE;
            border-width: 2px;
        }
        .form-checkbox:checked{
            background-color:#DD2C00 !important;
            border:2px solid #DD2C00 ;
        }
        .signin-link{
            color: #DD2C00;
        }
        .signin-link:active{
            color: #DD2C00;
        }
         .form-checkbox:after{
            /*border:2px solid #DD2C00 ;*/
        }
        .bg-image{
            height: 100vh;
            width: 100%;
            object-fit:cover;
        }
        .password-container{
            position: relative;
        }
        .password-input{
            padding-right: 54px !important;
        }
        .visibility{
            cursor: pointer;
            color: #0c0c0c;
            position: absolute;
            margin-top: 22px;
            margin-right: 14px;
            top: 0;
            right: 0;
        }
        .input-fields{
            padding: 10px;
        }
        .submit-btn{
            background-color: #DD2C00;
            color: white;
            height: 64px;
            width: 348px ;
            text-transform: none;
            font-size: 1.2rem
        }
        .submit-btn:hover{
            color: white;
            height: 64px;
            box-shadow: 0 0 10px #719ECE;
        }
        /*Authorize page styles*/

        .auth-container{
            border-radius: 15px;
            border-width: 3px;
            width:45rem;
            height: 35rem;

        }
        .form-container{
            width: 100%;
            height:100%;
            justify-content: center;
            align-items: center;
        }
        .main-head{
            top: 0;
            color: #000000;
            font-weight: 500;
            font-size: 2rem;
            text-align: center;

        }
        .hidden{
            display: none;
        }
        .sub-head{
            text-align: center;
            font-size: 1.3rem;
            margin-bottom: 3rem;

        }
        .select-account{

            text-align: left !important;
            margin-top: 1.5rem;
            width: 80%;
        }
        .line{

            width: 85%;
        }
        .user-logo{
            display: block;
            font-size: 2rem;
            color: #DD2C00;
        }
        .helper-text{
            color: #DD2C00;
            margin-bottom: 0.5rem;
            margin-left: .2rem;
        }
        .details-container{

            display: inline;
            padding-left: 1rem;
            margin-top: 0;
        }
        .username-text{
            color: #0c0c0c;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1rem;
            border: 0;
            padding-left: 0;
            text-align: left;
            background-color:white;

        }
        .username-text:hover{
            color:#DD2C00 ;
        }
        .email-text{
            padding-top: 0;
            font-size: .8rem;
            margin-top: -2px;

        }
        .list{
            border:0;
            color: #555555;
            font-size: 12px;
        }
        .list-group-item{
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @media only screen and (max-width: 768px) {
            /* For small devices: */
                .bg-image {
                   display: none;
                    }
                .back{
                    display: none;
                }
                .back-icon{
                    display: inline;
                    align-items: baseline;
                    margin-left: 10px;
                    float: left;
                    position: relative;
                    color: #0c0c0c;
                    height:12px ;
                    }
                .auth-container{

                    width:85%;
                    overflow-x: hidden;
                    height: 60%;
                    }
                .main-head{
                    font-size: 1.5rem;


                }
                .sub-head{
                     font-size: 1rem;

                }
        }




