{% extends "gstbillingapp/base.html" %}


{% load static %}
<!doctype html>

{% block content %}

    <h2>Create Invoice</h2>

    <form method="POST" id="invoice-form">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="table-active" scope="col" colspan="4">Invoice Details</th>
            </tr>
            </thead>

            <tbody class="two-col-form">
            <tr>
                <th scope="row">Invoice Number</th>
                <td class="form-input-td">
                    <input name="invoice-number" type="number" class="form-control" placeholder="Invoice Number"
                           value="{{ default_invoice_number }}" readonly>
                </td>
                <th scope="row">Date</th>
                <td class="form-input-td">
                    <input name="invoice-date" type="date" class="form-control" value="{{ default_invoice_date }}"
                           readonly>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="table-active" scope="col" colspan="4">Customer Details</th>
            </tr>
            </thead>

            <tbody class="two-col-form">
            <tr>
                <th scope="row">Customer Name</th>
                <td class="form-input-td customer_search_area">
                    <input autocomplete="off" type="text" class="form-control customer_search_input"
                           id="customer-name-input" placeholder="Customer Name" required>
                </td>
                <th scope="row">Customer Address</th>
                <td class="form-input-td">
                    <input type="text" class="form-control" id="customer-address-input" placeholder="Customer Address"
                           required>
                </td>
            </tr>
            <tr>
                <th scope="row">Customer Mobile Number</th>
                <td class="form-input-td">
                    <input type="tel" class="form-control" id="customer-phone-input"
                           placeholder="Customer Mobile Number" required>
                </td>
                <th scope="row">Pin Code</th>
                <td class="form-input-td">
                    <input type="number" class="form-control" id="customer-pin-input" placeholder="PIN Code" required>
                </td>
            </tr>

            </tbody>
        </table>

        <table class="table table-bordered" id="invoice-form-items-table">
            <thead>
            <th class="table-active" scope="col" colspan="13">Items</th>

            <tr>
                <th scope="col">Sl No.</th>
                <th scope="col">Code</th>
                <th scope="col">Product</th>
                <th scope="col">Weight</th>
                <th scope="col">Qty</th>
                <th scope="col">Cleaned</th>

                <th scope="col">Rate without GST</th>
                <th scope="col">Amt without GST</th>
                <th scope="col">SGST</th>
                <th scope="col">CGST</th>
                <th scope="col">IGST</th>
                <th scope="col">Amt with GST</th>

            </tr>
            </thead>
            <tbody id="invoice-form-items-table-body">

            </tbody>

            <tr>
                <td colspan="10" class="text-center align-content-center"><strong>TOTAL:</strong></td>
                <td colspan="2" class="text-center">
                    <input id="invoice-total" type="number" step="any" class="form-control" readonly>
                </td>
            </tr>

        </table>

        {% csrf_token %}

        <button type="button" class="btn btn-primary" id="invoice-form-addrow" onclick="addRow()">+</button>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <template id="invoice_row">
        <tr>
            <td class="invoice-item-slno">1</td>
            <td class="form-input-td">
                <input type="text" list="code_options" id="code" autocomplete="off"
                       class="form-control product_search_area product_search_input" placeholder="Product Code">
            </td>
            <td class="form-input-td">
                <input type="text" list="name_options" id="name" autocomplete="off"
                       class="form-control product_search_area product_search_input" placeholder="Product">
            </td>
            <td class="form-input-td">
                <input type="text" id="weight" class="form-control" placeholder="Weight">
            </td>
            <td class="form-input-td">
                <input type="text" id="quantity" step="1" min="0" class="form-control" placeholder="Qty">
            </td>
            <td class="form-input-td">
                <input type="checkbox" id="cleaned" class="form-control" placeholder="Cleaned">
            </td>

            <td class="form-input-td">
                <input type="number" id="rate_wo_gst" step="any" class="form-control" readonly>
            </td>
            <td class="form-input-td">
                <input type="number" id="amt_wo_gst" step="any" class="form-control" readonly>
            </td>
            <td class="form-input-td">
                <input type="number" id="s_gst" step="any" class="form-control" readonly>
            </td>
            <td class="form-input-td">
                <input type="number" id="c_gst" step="any" class="form-control" readonly>
            </td>
            <td class="form-input-td">
                <input type="number" id="i_gst" step="any" class="form-control" readonly>
            </td>
            <td class="form-input-td">
                <input type="number" id="amt" step="any" class="form-control" readonly>
            </td>
            <td hidden>
                <input id="id">
                <input id="price_swap">
            </td>
        </tr>
    </template>

    <datalist id="code_options">
    </datalist>
    <datalist id="name_options">
    </datalist>

{% endblock %}



{% block includejs %}
    <script src="{% static "gstbillingapp/js/fuse-3.4.6.min.js" %}"></script>
    <script src="{% static "gstbillingapp/js/main.js" %}"></script>
{% endblock %}
