{% extends "gstbillingapp/base.html" %}
{% load tags %}


{% load static %}
<!doctype html>

{% block content %}

    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
        <div class="card">
            <div class="card-header p-4">
                <div class="float-right">
                    <h3 class="mb-0">Invoice #{{ invoice_number }}</h3>
                    Date: {% string invoice.date %}
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h5 class="mb-3">From:</h5>
                        <h3 class="text-dark mb-1">{{ invoice.organisation.name }}</h3>
                        <div>{{ invoice.organisation.address }}</div>
                        <div>Phone: {{ invoice.organisation.mobile_number }}</div>
                    </div>
                    <div class="col-sm-6 ">
                        <h5 class="mb-3">To:</h5>
                        <h3 class="text-dark mb-1">{{ invoice.user.first_name }}</h3>
                        <div>{{ invoice.address.address }}</div>
                        <div>Phone: {{ invoice.address.phone }}</div>
                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="table-active" scope="col" colspan="11">Items</th>
                        </tr>
                        <tr>
                            <th scope="col">SlNo</th>
                            <th scope="col">Code</th>
                            <th scope="col">Product</th>
                            <th scope="col">Weight / Qty</th>

                            <th scope="col">Price</th>
                            <th scope="col">GST</th>
                            <th scope="col">Net Price</th>
                        </tr>
                        </thead>

                        <tbody id="">
                        {% for item in items %}
                            <tr>
                                <td class="form-input-td" id="sl_no" disabled align="center">
                                    {{ forloop.counter }}
                                </td>

                                <td class="form-input-td">
                                    {% code_of item %}
                                </td>
                                <td class="form-input-td">
                                    {% name_of item %}
                                </td>

                                <td class="form-input-td">
                                    {{ item.quantity }}
                                </td>

                                <td class="form-input-td">
                                    {{ item.price }}
                                </td>
                                <td class="form-input-td">
                                    {{ item.item.gst_percent }}
                                </td>
                                <td class="form-input-td">
                                    {%  multiply item.quantity item.price %}
                                </td>
                                <td hidden disabled>
                                    {{ item.item.id }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                    </div>
                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                            <tr>
                                <td class="left">
                                    <strong class="text-dark">Total</strong></td>
                                <td class="right">
                                    <strong class="text-dark">{{ invoice.total }} ₹</strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <button type="button" class="btn-primary px-3 py-1 mb-5 mt-3" onclick="printer()" id="printer">Print</button>
    </footer>

    <script>
        function printer() {
            document.getElementById("printer").hidden = true;
            window.print();
            document.getElementById("printer").hidden = false;
        }
    </script>

{% endblock %}
