{% extends "gstbillingapp/base.html" %}

{% load static %}



{% block content %}

    <h2>Edit Product</h2>
    <form method="POST">
        {% csrf_token %}
        <table class="table">
            <tbody class="two-col-form">
            <tr>
                <th scope="row" class="text-right">Product Name:</th>
                <td class="form-input-td">{{ product_form.title }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">HSN:</th>
                <td class="form-input-td">{{ product_form.product_hsn }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Price:</th>
                <td class="form-input-td">{{ product_form.price }}</td>
            </tr>


            <tr>
                <th scope="row" class="text-right">Product stock:</th>
                <td class="form-input-td">{{ product_form.stock }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">price 2</th>
                <td class="form-input-td">{{ product_form.price2 }}</td>

            </tr>
            <tr>
                <th scope="row" class="text-right">price 3</th>
                <td class="form-input-td">{{ product_form.price3 }}</td>
            </tr>
            </tbody>
        </table>

        <input type="submit" class="btn btn-primary float-right" value="Submit">
    </form>
{% endblock %}
