{% extends "gstbillingapp/base.html" %}

{% load static %}



{% block content %}

    <h2>Edit Product</h2>
    <form method="POST">
        {% csrf_token %}
        <table class="table">
            <tbody class="two-col-form">
            <tr>
                <th scope="row" class="text-right">Product Code:</th>
                <td class="form-input-td">{{ product_form.code }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Product Name:</th>
                <td class="form-input-td">{{ product_form.title }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right"><label for="id_product_hsn">HSN:</label></th>
                <td class="form-input-td">
                    <input type="text" name="product_hsn" id="id_product_hsn" list="hsn"
                           value="{% firstof product_form.get_hsn "" %}">
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-right">GST Percent</th>
                <td class="form-input-td">{{ product_form.gst_percent }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Price:</th>
                <td class="form-input-td">{{ product_form.price }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Product stock:</th>
                <td class="form-input-td">{{ product_form.stock }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">price 2</th>
                <td class="form-input-td">{{ product_form.price2 }}</td>

            </tr>
            <tr>
                <th scope="row" class="text-right">price 3</th>
                <td class="form-input-td">{{ product_form.price3 }}</td>
            </tr>
            <tr>
                <th scope="row" class="text-right">Discount</th>
                <td class="form-input-td">{{ product_form.discount }}</td>
            </tr>
            </tbody>
        </table>

        <input type="submit" class="btn btn-primary float-right" value="Submit">
    </form>

    <datalist id="hsn"></datalist>

    <script>
        const gst = document.getElementById("id_gst_percent");
        const hsn = document.getElementById("id_product_hsn");
        const list = document.getElementById("hsn");

        const db = {};

        hsn.onkeyup = async ({target, key}) => {
            if (!key)
                return;

            const {results} = await fetch(`/bill/hsn?search=${target.value}`).then((res) => res.json());

            list.innerHTML = results.map(({code, gst_percent, id}) =>
                `<option data-id="${id}" data-gst="${gst_percent}" value="${code}">`)
                .join("");

            results.forEach(({code, gst_percent}) => db[code] = gst_percent);
        }

        hsn.onchange = (e) => gst.value = document.querySelector(`option[value="${e.target.value}"]`)
            ?.getAttribute("data-gst");

    </script>
{% endblock %}
