{% extends "gstbillingapp/base.html" %}

{% load static %}

{% block content %}

    <h2>Invoices</h2>

    <table class="table table-bordered" id="invoice-table">
        <thead>
        <tr>
            <!-- <th>Incoice ID</th> -->
            <th>Invoice Number</th>
            <th>Date</th>
            <th>Customer</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody class="two-col-form">
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.user.first_name }}</td>
                <td><a href="invoices/{{ order.id }}">
                    <button type="button" class="btn btn-primary">View</button>
                </a></td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="deleteInvoice({{ order.id }})">
                        Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="invoiceDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="invoiceDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="invoiceDeleteModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'invoice_delete' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        Are you sure you want to delete <b><span class="invoice-number"></span></b>?
                        <div class="form-group">
                            <input hidden type="text" class="form-control" name="invoice_id">
                            <input type="checkbox" id="inventory-del" name="inventory-del" value="inventory-del"
                                   checked> <b>Remove Inventory Deductions Also</b>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block includejs %}
    <script type="text/javascript">

        function deleteInvoice(id){
            window.confirm("Are you sure, you want to delete ?");
            window.alert("");
        }
    </script>
{% endblock %}
