/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
    background: #FAFAFA;
}

#navbar {
    background-image: url("/static/images/NAV BAR.svg");
}

@media (max-width: 768px) {

    .cart-row {
        margin: 10px 0;
        padding: 10px 0;
        border-bottom: 1px solid #e1e1e1;
    }

    .cart-row div {
        text-align: center;
    }

    .cart-row img.img-responsive {
        margin: 0 auto;
    }
}

img {
    border-radius: 13%;
}

.neumorphic_container {
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 8px 8px 16px #eeeeee;
}

.selects {
    padding-left: 10px;
    height: 100%;
    width: 100%;
    padding-right: 32px;
    min-height: inherit;
    font-size: 14px;
    color: rgb(117, 117, 117);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    border: 0px none;
    border-radius: 2px;
    appearance: none;
}

.e4f9riy3 {
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    vertical-align: top;
    text-decoration: none;
    text-transform: none;
    padding-left: 16px;
    padding-right: 12px;
    position: absolute;
    right: 0px;
    text-align: right;
    color: rgb(117, 117, 117);
    z-index: -1;
}

.holder {
    position: relative;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    display: inline-block;
    min-width: 52px;
    vertical-align: bottom;
    overflow: hidden;
    z-index: 0;
}
.cart_quantity{
    border:0 !important;
}