.main-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    /* width: 100;  */
    min-height: 100vh;
}

.navbar{
        background-position: top;
    background-size: cover; 
}