{% load static %}
<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {% firstof title 'Need Medicals' %}
        {% endblock %}
    </title>
    <!-- CSS only -->


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
            rel="stylesheet"/>
    {% block css %}
    {% endblock %}

</head>
<body>


{% csrf_token %}
{% block body %}
{% endblock %}


<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>


{% block script %}
{% endblock %}

</body>
</html>