{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'cart.css' %}"/>
{% endblock %}
{% block content %}

    <div class="container-fluid py-5">
        <div class="row text-center py-4">
            <h2>Cart</h2>
            <div>{{ len_items }}
                {% if len_items == 1 %}
                    item
                {% else %}
                    items
                {% endif %}
                | Rs.{{ total }}</div>
        </div>
        <div class="container">

            <div class="row neumorphic_container px-3">
                {% for item in items %}
                    <div class="col-xs-12">
                        <div class="row py-4">
                            <div class=" col-5">
                                <div class="pull-left">
                                    <div>
                                        <img src="/{{ item.item.images.all.0.mainimage }}" alt="/{{ item.item.title }}"
                                             class="w-100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <h6 class="h6 font-weight-bold">{{ item.item.title }}</h6> <p class=""> {% widthratio item.item.price 1 item.quantity %} </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}