{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'cart.css' %}"/>
    <link rel="stylesheet" href="{% static 'button.css' %}"/>
{% endblock %}
{% block content %}

    <div class="container-fluid py-5">
        <div class="row text-center py-4">
            <h2>Cart</h2>
            <div><span class="items">{{ len_items }}</span>
                {% if len_items == 1 %}
                    item
                {% else %}
                    items
                {% endif %}
                | ₹<span class="total">{{ total }}</span></div>
        </div>
        <div class="container">

            <div class="row py-3 ">
                {% for adress in user_address %}
                    <div class="col-12 col-md-6 col-lg-4 py-3 ">
                        <div class="col-12 col-lg-4 neumorphic_container px-3 w-100">
                            <div class="row font-weight-bold h4 mx-2">{{ adress.name }}</div>
                            <div class="row py-2 mx-2">{{ adress.address }}</div>
                            <div class="row py-2 mx-2">{{ adress.pincode }}</div>
                            <div class="row py-2 mx-2">{{ adress.state }}</div>
                            <div class="row py-2 mx-2">{{ adress.phone }}</div>
                            <div class="pb-4 button-container">
                                <form action="/delivery_options " method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ adress.id }}" name="adid">
                                <button type="submit" class="checkoutbtn"><span>Deliver to this Address</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">

            <div class="row neumorphic_container px-3">
                <div class="col-4"></div>
                <form class="col-12 col-lg-4" id="checkout_form" method="POST" action="/details/">
                    <div class="input-group  py-3">
                        {#                        <label for="Name">Name</label>#}
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name</div>
                        </div>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter Name" name="name">

                    </div>
                    <div class="input-group py-3">
                        {#                        <label for="Address">Address</label>#}
                        <div class="input-group-prepend">
                            <div class="input-group-text">Address</div>
                        </div>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Address"
                               name="address">
                    </div>
                    <div class="input-group py-3 ">
                        {#                        <label for="Pincode">Pincode</label>#}
                        <div class="input-group-prepend">
                            <div class="input-group-text">Pincode</div>
                        </div>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Pincode"
                               name="pincode">
                    </div>
                    <div class="input-group py-3">
                        {#                        <label for="state">State</label>#}
                        <div class="input-group-prepend">
                            <div class="input-group-text">State</div>
                        </div>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Kerala"
                               name="state">
                    </div>
                    <div class="input-group py-3">
                        {#                        <label for="Phone Number">Phone Number</label>#}
                        <div class="input-group-prepend">
                            <div class="input-group-text">Ph no</div>
                        </div>
                        <input type="tel" class="form-control" id="exampleInputPassword1"
                               placeholder="Enter Phone Number" name="phone">
                    </div>
                    <div class="button_container pb-3">
                        <button class="checkoutbtn" onclick="formSubmit()"><span>Checkout</span></button>
                        <!--<p class="link">
                          Design by
                          <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
                        </p>-->
                    </div>

                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="row text-center py-4">
            <h2>Cart</h2>
            <div><span class="items">{{ len_items }}</span>
                {% if len_items == 1 %}
                    item
                {% else %}
                    items
                {% endif %}
                | ₹<span class="total">{{ total }}</span></div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/static/cart.js"></script>
    <script>
        let checkout_form = document.getElementById("checkout_form");

        function formSubmit() {
            checkout_form.submit();
        }
    </script>
{% endblock %}