{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'cart.css' %}"/>
    <link rel="stylesheet" href="{% static 'button.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="row py-5">
            <div class="col-12 col-md-2 col-lg-3"></div>
            <div class="col-12 col-md-8 col-lg-6">
                <div class="row neumorphic_container py-3">
                    <div class="row py-3">

                        <div class="col">
                            <span class="">Select Preferable Date  of Delivery</span>
                        </div>
                        <div class="col">
                            <input type="date" id="date" class="cart_quantity form-control" name="date">
                        </div>

                    </div>
                    <div class="col">
                        <span class="">Select Preferable time of Delivery</span>
                    </div>
                    <div class="col">
                        <select class="cart_quantity selects"
                                onmousedown="if(this.options.length>8){this.size=8;}"
                                onchange='this.size=0;' onblur="this.size=0;">
                            <option>Morning</option>
                            <option>Evening</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 col-lg-3"></div>
            <div class="col-12 col-md-8 col-lg-6">
                <div class="row neumorphic_container py-3">
                    <div class="row font-weight-bold h4 mx-2">{{ selected_address.name }}</div>
                    <div class="row py-2 mx-2">{{ selected_address.address }}</div>
                    <div class="row py-2 mx-2">{{ selected_address.pincode }}</div>
                    <div class="row py-2 mx-2">{{ selected_address.state }}</div>
                    <div class="row py-2 mx-2">{{ selected_address.phone }}</div>
                </div>
            </div>


{% endblock %}