{% extends "base.html" %}
{% load static %}
{% block "extra_css"%}
<link rel="stylesheet" href="{% static 'display_product.css' %}" />
{% endblock %}
{% block "content" %}
<section class="product">
	<div class="product__photo">
		<div class="photo-container">
			<div class="photo-main">
				<div class="controls">
					<i class="material-icons">share</i>
					<i class="material-icons">favorite_border</i>
				</div>
			
				<img src="/{{products.images.all.0.mainimage}}" alt="beef">
			</div>
			<div class="photo-album">
				<ul>
					{% for image in products.images.all %}
						<li><img src="/{{image.mainimage}}" alt="..."></li>
					{% endfor %}	
				</ul>
			</div>
		</div>
	</div>
	<div class="product__info">
		<div class="title">
			<h1>{{products.title}}</h1>
		Stock :	<span>{{products.stock}}</span>
		</div>
		<div class="price">
			Rs <span>{{products.price}}</span>
		</div>
		<!-- <div class="variant">
			<h3>SELECT A COLOR</h3>
			<ul>
				<li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png" alt="green apple"></li>
				<li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302752/codepen/delicious-apples/yellow-apple.png" alt="yellow apple"></li>
				<li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302427/codepen/delicious-apples/orange-apple.png" alt="orange apple"></li>
				<li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302285/codepen/delicious-apples/red-apple.png" alt="red apple"></li>
			</ul>
		</div> -->
		<div class="description">
			<h3>{{products.description}}</h3>
			<!-- <ul>
				<li>Apples are nutricious</li>
				<li>Apples may be good for weight loss</li>
				<li>Apples may be good for bone health</li>
				<li>They're linked to a lowest risk of diabetes</li>
			</ul> -->
		</div>
		<form class="form1" action="" method="POST">
		{% csrf_token %}
		<input type="number" placeholder=1 value=1 name="quantity">
		<button class="buy--btn">ADD TO CART</button>
		</form> 		
	</div>
</section>
<!--
<footer>
	<p>Design from <a href="https://dribbble.com/shots/5216438-Daily-UI-012">dribbble shot</a> of <a href="https://dribbble.com/rodrigorramos">Rodrigo Ramos</a></p>
</footer> -->
{% endblock %}
