{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'index.css' %}"/>
{% endblock %}
{% block content %}
    <div class="product">

        <div style="background-image: url('/media/{{ products.images.all.0.mainimage }}')" class="background_img">
            <div class="img_overlay  ">
            </div>

        </div>
        <div class="card-body-product">
            <div class="container px-5 py-3">
                <div class="product__heading">
                    {{ products.title }}
                </div>
                <div>
                    <span class="bold h3 text-success">{{ products.price }}</span> <span
                        class="text-secondary">Rs/Kg</span>
                </div>
                <div>
                    {{ products.description }}
                </div>


                <div class="row">

                    <div class="col-12 col-md-6">

                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">

                                {% for image in products.images.all %}
                                    <li data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="{{ forloop.counter0 }}"
                                        class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                                {% endfor %}


                            </ol>
                            <div class="carousel-inner">
                                {% for image in products.images.all %}
                                    <div class="carousel-item {% firstof forloop.counter0 'active' %}">
                                        <div style="background-image: url('/media/{{ image.mainimage }}')"
                                             class="d-block product__photo"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                               data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                               data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="text-center w-100 py-4">
                            {% csrf_token %}
                            {% include 'plusandminus.html' %}
                            <button class="btn rounded_cart text-center w-75"
                                    onclick="addProductToCart({{ products.id }},this,'{{ products.title }}')"><i
                                    class="fas fa-cart-plus"></i> Add
                                To
                                Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--
    <footer>
        <p>Design from <a href="https://dribbble.com/shots/5216438-Daily-UI-012">dribbble shot</a> of <a href="https://dribbble.com/rodrigorramos">Rodrigo Ramos</a></p>
    </footer> -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'display_product.js' %}"></script>
{% endblock %}