
{% extends 'root.html' %}
{% load static %}
{% block title %}
    Sign In
{% endblock %}

{% block form %}

<div  style="height: 100%" class="col-md-6 pt-5">
         <a  class="back" href="https://dreameat.in/"><i class="fas fa-chevron-left"> </i> back</a>

      <div style="color:#696F79" class="row d-flex align-items-center ">
          <figure style="color: #000000" class="text-center"><a href="https://dreameat.in/"><i class="fas fa-chevron-left back-icon"> </i></a><h1 class="fw-bold">Login</h1>
            </figure>
        <form action="/login/?{{ request.META.QUERY_STRING }}"
              method="POST">
            {% csrf_token %}
            {% if pswderr %}
                <div class=" text-danger text-center" role="alert">
                    <i class="fa fa-exclamation-circle"></i> {{ pswderr }}
                </div>
            {% endif %}
            <div class="input-fields " >

                <div class=" mb-4 d-flex flex-column  align-items-center ">
                <div class="mb-4 d-flex flex-column " style="width:350px;margin-right: auto;margin-left: auto ">
                    <label  class="form-label input-label " for="email" >Email address* </label>
                     <input name="email" type="text" id="email" placeholder="Enter email address" class="form-control  form-control-lg text-input mb-4" required  style=" height:70px"/>
                    <label class="form-label input-label " for="password"  >Password*</label>
                    <div class="password-container">
                    <input  type="password" name="password" id="password" placeholder="Enter password" class="form-control form-control-lg text-input password-input"  style=" height:70px " required />
                    <span onclick="show_password('password','password-visibility')" class="visibility" id="password-visibility">show</span>
                    </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-block submit-btn" >Login Account</button>
                </div>

          <div class="divider d-flex justify-content-center align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>
           <div style="color: #000000;" class="d-flex justify-content-center">
          <a style="text-transform: none" class="btn btn-lg btn-block text-input"  href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A//www.googleapis.com/auth/userinfo.profile%20https%3A//www.googleapis.com/auth/userinfo.email&include_granted_scopes=true&response_type=code&state={{ request.META.QUERY_STRING|urlencode }}&redirect_uri={{ google_redirect_uri }}&client_id={{ GOOGLE_CLIENT_ID }}" role="button">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/> login with Google
          </a>

           </div>
                <div class=" text-center ">
                 <p  class="new-to"> New to DreamEat? <a class="signin-link" href="/signup?{{ request.META.QUERY_STRING }}">Register </a>
                </div>
            </div>
        </form>
      </div>

      </div>
{% endblock %}
