
{% extends 'root.html' %}

{% block title %}
    Sign In - Vikkis.in
{% endblock %}
{% block form %}

    <div class="d-flex container flex-column  neumorphic_form p-4 align-items-center col-12 col-md-6 col-lg-4">
        <h1 >Sign In</h1>
        <form class="d-flex flex-column w-100 px-1 align-items-center flex-fill"
              action="/login/?{{ request.META.QUERY_STRING }}"
              method="POST">
            {% csrf_token %}
            {% if pswderr %}
                <div class=" text-danger " role="alert">
                    <i class="fa fa-exclamation-circle"></i> {{ pswderr }}
                </div>
            {% endif %}
            <label><input name="next" value="{{ request.GET.next }}" hidden></label>
            <div class="form-outline my-2 flex-grow w-75">
                <input type="text" id="form1" class="form-control" placeholder="Username" name="username">
                <label class="form-label" for="form1">Username</label>
            </div>

            <div class="form-outline my-2 w-75">
                <input type="password" id="form2" class="form-control" placeholder="Password" name="password">
                <label class="form-label" for="form2">Password</label>
            </div>

            <button class="submit btn btn-primary blue-gradient input-left input-right my-2 w-50">Sign in</button>
{#            <div class="col-sm mt-2">#}
{#                <a class="btn btn-outline-dark input-right input-left"#}
{#                   href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A//www.googleapis.com/auth/userinfo.profile%20https%3A//www.googleapis.com/auth/userinfo.email&include_granted_scopes=true&response_type=code&state={{ request.META.QUERY_STRING|urlencode }}&redirect_uri={{ google_redirect_uri }}&client_id={{ GOOGLE_CLIENT_ID }}"#}
{#                   role="button" style="text-transform:none">#}
{#                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"#}
{#                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>#}
{#                    Login with Google#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-sm mt-2">#}
{#                <a class="btn btn-outline-dark input-right input-left"#}
{#                   href="https://www.facebook.com/v11.0/dialog/oauth?state={{ request.META.QUERY_STRING|urlencode }}&redirect_uri={{ facebook_redirect_uri }}&client_id={{ FACEBOOK_CLIENT_ID }}"#}
{#                   role="button" style="text-transform:none">#}
{#                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Facebook sign-in"#}
{#                         src="https://image.flaticon.com/icons/png/512/124/124010.png"/>#}
{#                    Login with Facebook#}
{#                </a>#}
{#            </div>#}

            <p class="mt-3"><a href="/signup?{{ request.META.QUERY_STRING }}">New User?</a>
            </p>
        </form>
    </div>
{% endblock %}