{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'cart.css' %}"/>
    <link rel="stylesheet" href="{% static 'button.css' %}"/>
{% endblock %}
{% block content %}

    <div class="container-fluid py-5">

        <div class="container">

            <div class="row py-3 ">
                {% for order in orders %}
                    <div class="col-12 col-md-6 col-lg-4 py-3 ">
                        <a href="/order/{{ order.id }}/" class="no_underline text-dark">
                        <div class="col-12 col-lg-4 neumorphic_container px-3 w-100">

                                <div class="row font-weight-bold h4 mx-2 pt-2">Ordered On: {{ order.date }}</div>

                            <div class="row py-2 mx-2"> Order Total: {{ order.total }}</div>
                            <div class="row py-2 mx-2">Delivery Slot: {{ order.time }}</div>
{#                            <div class="row py-2 mx-2">{{ adress.state }}</div>#}
{#                            <div class="row py-2 mx-2">{{ adress.phone }}</div>#}

                        </div>
                             </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/static/cart.js"></script>

{% endblock %}